@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400;500&display=swap');

.navbar {
    background-color: transparent;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 1;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    background: none;
    color: #247fbf;
}

/* Active menu link */
.active-link{
    position: relative;
}

.active-link::before{
    font-weight: 500;
    content: '';
    position: absolute;
    bottom: 5px;
    left: calc(50% - 15px);
    width: 30px;
    height: 5px;
    border-radius: 25%;
    color: transparent;
    background-image: linear-gradient(to right,#00f,#f0f,#f00,#ff0,#0f0,#0ff,#00f);
    -webkit-background-clip: padding-box;
    background-size: 1000%;
    animation: example 8s linear infinite;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(40, 40, 40) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-family: 'Spartan', sans-serif;

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#introSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
}

.logo {
    height: 200px;
    margin: 250px 0 15px;
}

.fullname {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 75px;
    margin: 10px;
}

#firstname {
    color: #247FBF;
    margin-right: 40px;
    font-weight: 200;
}

#lastname {
    color: white;
    font-weight: 400;
}

.jobTitle {
    font-family: 'Spartan', sans-serif;
    font-size: 36px;
    color: transparent;
    opacity: .5;
    font-weight: 300;
    text-transform: uppercase;
    background-image: linear-gradient(to right ,#000,#000,#00f,#f0f,#f00,#ff0,#0f0,#0ff,#00f,#000,#000);
    -webkit-background-clip: text;
    background-size: 1000%;
    animation: example 8s linear infinite;
}

.spacer {
    flex: 1;
}

@keyframes example {
    0%   {background-position: 0% 100%;}
    50%  {background-position: 100% 0%;}
    100%   {background-position: 0% 100%;}
}

.arrow {
    position: relative;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
}

.arrow span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    animation: animate 1s linear infinite;
}

.arrow span:nth-child(1) {
    top: -30px;
    left: -30px;
    animation-delay: 0s;
}

.arrow span:nth-child(2) {
    top: -15px;
    left: -15px;
    animation-delay: 0.2s;
}

.arrow span:nth-child(3) {
    top: 0px;
    left: 0px;
    animation-delay: 0.4s;
}

.arrow span:nth-child(4) {
    top: 15px;
    left: 15px;
    animation-delay: 0.6s;
}

.arrow span:nth-child(5) {
    top: 30px;
    left: 30px;
    animation-delay: 0.8s;
}
@keyframes animate {
    0% {
        border-color: #247fbf;
        transform: translate(0,0);
    }
    20% {
        border-color: #247fbf;
        transform: translate(15px,15px);
    }
    20.1%,100% {
        border-color: #222;
    }
}

#aboutSection {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
}

#me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resumeImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 40px;
}

#willPhoto {
    height: 400px;
    border-radius: 50%;
    border: solid 2px white;
    margin-right: 60px;
}

#aboutMeIntro {
    font-size: 24px;
    font-weight: 400;
}

.aboutMeBody {
    max-width: 600px;
}
.aboutMeBody h2 {
    color: white;
    font-size: 2.5em;
    margin: 20px;
}
.aboutMeBody h2 span {
    color: #247FBF;
    font-size: 1.2em;
    margin-top: 10px;
}
.aboutMeBody p {
    font-size: 1.2em;
    color: white;
    font-weight: 300;
    margin: 20px;
    line-height: 1.6rem;
}

.aboutMeBody p span {
    color: #247fbf
}

#projectSection {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}

.projectTitle {
    background-color: transparent;
    display: flex;
}

.my {
    margin-right: 10px;
}

.projectTitles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#projectNote {
    font-weight: 200;
    display: none;
}

.container {

    background: white;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 50px;
    border-radius: 15px;
    border: solid 2px white;
}

.image {
    opacity: 1;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    transition: .5s ease;
    filter: grayscale(0%);
}

.projectOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projectOverlay a {
    margin: 5px;
}

.projectOverlay a:hover {
    cursor: pointer;
}

.container:hover .image {
    opacity: 0.3;
    filter: grayscale(100%);
}

.container:hover .projectOverlay {
    opacity: 1;
}

#projectInfo {
    content: url('https://api.iconify.design/ant-design:info-circle-filled.svg?color=%23444444&width=58');
    vertical-align: -0.125em;

}

#projectSite {
    content: url('https://api.iconify.design/el:website-alt.svg?color=%23444444&height=50');
    vertical-align: -0.125em;
}

#projectGithub {
    content: url('https://api.iconify.design/codicon:github-inverted.svg?color=%23444444&height=50');
    vertical-align: -0.125em;
}

.modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    color: black;
    background: white;
    opacity: .9;
    width: 750px;
    max-width: 80%;
    overflow-y: initial;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modalHeader {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modalHeader .title {
    color: #247fbf;
    font-size: 1.25rem;
    font-weight: 500;
}

.modalHeader .closeButton {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    font-weight: 500;
}

.modalBody {
    top: 0;
    left: 0;
    width: calc(100% - 30px);
    height: 100%;
    max-height: calc(100% - 80px);
    padding: 10px 15px;
    line-height: 1.6rem;
    overflow-y: auto;
}

li {
    list-style: inside;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#contactSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
}

.contactMe {
    color: white;
    display: flex;
}

.contact {
    margin-right: 10px;
}

h4 {
    font-size: 24px;
}
.iconLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.iconLinks a {
    margin: 10px;
}

.iconify {
    color: white;
}

.iconify:hover {
    color:#247fbf;
}

.logoResume {
    height: 70px;
    background: none;
    vertical-align: -0.3em;
}

footer {
    position: relative;
    height: 50px;
    width: 100%;
    background: transparent;
}

.copyright {
    position: absolute;
    width: 100%;
    color: white;
    line-height: 20px;
    font-family: 'Spartan', sans-serif;
    font-size: 0.7em;
    font-weight: 200;
    text-align: center;
    bottom: 0;
}

/* ==========Media==========  */

@media only screen and (min-width: 280px) and (max-width: 568px){
    body {
        background: black;
    }
    .navbar {
        display: none;
    }
    #introSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
    }
    .fullname {
        font-size: 25px;
    }
    #firstname {
        margin-right: 20px;
    }
    .jobTitle {
        font-size: 20px;
    }
    .arrow {
        display: none;
    }
    #aboutSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        background-color: #333;
        -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
        clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
        padding: 65px 10px;
    }
    #willPhoto {
        height: 150px;
        margin-right: 0;
    }
    #resumeImage {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .aboutMeBody { 
        font-size: 14px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutMeBody h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .aboutMeBody p {
        text-align: center;
    }
    #projectSection {
        height: auto;
    }
    .projectTitles {
        flex-direction: column;
    }
    #projectNote {
        display: block;
    }
    .modal {
        height: auto;
        max-height: calc(100% - 80px);
        overflow-y: auto;
    }
    .modalBody {
        font-size: 11px;
    }
    #contactSection {
        height: auto;
        background-color: #222;
        clip-path: polygon(0 0%, 100% 10%, 100% 100%, 0% 100%);
        padding: 65px 10px;
        border: none;
    }
    .footer {
        background-color: #000;
    }
}

@media only screen and (min-width: 568px) and (max-width: 767px){
    body {
        background: black;
    }
    .navbar {
        display: none;
    }
    #introSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
    }
    .fullname {
        font-size: 25px;
    }
    #firstname {
        margin-right: 20px;
    }
    .jobTitle {
        font-size: 20px;
    }
    .arrow {
        display: none;
    }
    #aboutSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        background-color: #333;
        -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
        clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
        padding: 65px 10px;
    }
    #willPhoto {
        height: 150px;
        margin-right: 0;
    }
    #resumeImage {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .aboutMeBody { 
        font-size: 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutMeBody h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .aboutMeBody p {
        text-align: center;
    }
    #projectSection {
        height: auto;
    }
    .projectTitles {
        flex-direction: column;
    }
    #projectNote {
        display: block;
    }
    .modal {
        height: auto;
        max-height: calc(100% - 80px);
        overflow-y: auto;
    }
    .modalBody {
        font-size: 11px;
    }
    #contactSection {
        height: auto;
        background-color: #222;
        clip-path: polygon(0 0%, 100% 10%, 100% 100%, 0% 100%);
        padding: 65px 10px;
        border: none;
    }
    .footer {
        background-color: #000;
    }
}

@media only screen and (min-width: 768px) and (max-width: 900px){
    body {
        background: black;
    }
    .navbar {
        display: none;
    }
    #introSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
    }
    .fullname {
        font-size: 56px;
    }
    #firstname {
        margin-right: 30px;
    }
    .jobTitle {
        font-size: 40px;
    }
    .arrow {
        display: none;
    }
    #aboutSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        background-color: #333;
        -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
        clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
        padding: 65px 10px;
    }
    #willPhoto {
        height: 250px;
        margin-right: 0;
    }
    #resumeImage {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .aboutMeBody { 
        font-size: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutMeBody h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .aboutMeBody p {
        line-height: 2rem;
        text-align: center;
    }
    #projectSection {
        height: auto;
    }
    .projectTitles {
        flex-direction: column;
    }
    #projectNote {
        display: block;
    }
    .modal {
        height: auto;
        max-height: calc(100% - 80px);
        overflow-y: auto;
    }
    .modalBody {
        font-size: 11px;
    }
    #contactSection {
        height: auto;
        background-color: #222;
        clip-path: polygon(0 0%, 100% 10%, 100% 100%, 0% 100%);
        padding: 65px 10px;
        border: none;
    }
    .footer {
        background-color: #000;
    }
    h4 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1024px){
    body {
        background: black;
    }
    .navbar {
        display: none;
    }
    #introSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
    }
    .fullname {
        font-size: 64px;
    }
    #firstname {
        margin-right: 30px;
    }
    .jobTitle {
        font-size: 40px;
    }
    .arrow {
        display: none;
    }
    #aboutSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        background-color: #333;
        -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
        clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
        padding: 65px 10px;
    }
    #willPhoto {
        height: 250px;
        margin-right: 0;
    }
    #resumeImage {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .aboutMeBody { 
        font-size: 28px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutMeBody h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .aboutMeBody p {
        font-size: 20px;
        line-height: 2.2rem;
        text-align: center;
    }
    #projectSection {
        height: auto;
    }
    .projectTitles {
        flex-direction: column;
    }
    #projectNote {
        display: block;
    }
    .modal {
        height: auto;
        max-height: calc(100% - 80px);
        overflow-y: auto;
    }
    .modalBody {
        font-size: 11px;
    }
    #contactSection {
        height: auto;
        background-color: #222;
        clip-path: polygon(0 0%, 100% 10%, 100% 100%, 0% 100%);
        padding: 65px 10px;
        border: none;
    }
    .footer {
        background-color: #000;
    }
    h4 {
        font-size: 30px;
    }
}